# ───── Python ─────
venv/
__pycache__/
*.pyc

# ───── OS ─────
.DS_Store

# ───── Dataset / Experiments ─────
dataset/
dataset_raw/
experiments/

# ───── Model Outputs ─────
outputs/
*.pth
!webapp/model/agpn_model.pth

# ───── Generated Images ─────
webapp/static/uploads/
webapp/static/heatmaps/

# ───── Optional ─────
.env
*.log