# ───── Python ─────
venv/
__pycache__/
*.pyc

# ───── OS ─────
.DS_Store

# ───── Dataset / Experiments ─────
dataset/
dataset_raw/
experiments/

# ───── Model Outputs ─────
outputs/
*.pth

# ───── Generated Images (IMPORTANT) ─────
webapp/static/uploads/
webapp/static/heatmaps/

# ───── Optional (good practice) ─────
.env
*.log