# ───── Python ─────
venv/
__pycache__/
*.pyc

# ───── OS ─────
.DS_Store

# ───── Dataset / Experiments ─────
dataset/
dataset_raw/
experiments/

# ───── Model Outputs ─────
outputs/
*.pth

# 🚀 IMPORTANT: Ignore downloaded model
webapp/model/

# ───── Generated Images ─────
webapp/static/uploads/
webapp/static/heatmaps/

# ───── Optional ─────
.env
*.log